*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #0a090a;
  color: white;
  font-family: Roboto, sans-serif;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.container {
  /* максимальная ширина контейнера */
  max-width: 1140px;
  /* выравниваем по центру */
  margin: auto;
}

/* стили для шапки */
.header {
  display: flex;
  /* выравниваю по центру по вертикали */
  align-items: center;
  justify-content: space-between;
  /* внуттерний отступ сверху */
  padding-top: 45px;
  margin-bottom: 30%;
}

.logo {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #aeaeae;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aeaeae;
}

::placeholder {
  color: #aeaeae;
}

.search {
  display: flex;
  align-items: center;
  flex: 0.8;
}

.search-input {
  flex: 1;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  /* внутернние отступы */
  padding: 12px 18px 12px 18px;
  /* убираем рамку */
  border: none;
  color: #aeaeae;
  font-size: 14px;
  line-height: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  padding: 12px 18px;
}

.user {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 7px;
}

.title-en {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin-bottom: 38px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.movie-info {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
}

.country {
  font-size: 16px;
  line-height: 19px;
  margin-right: 33px;
}

.play {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

/* Псевдоэлемент, т.к. его нет в начальной HTML разметке*/
.play:before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.more {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

.more:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 15px;
  transform: rotate(90deg);
}

.content {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 4px;
  color: #000000;
  padding: 3% 4%;
}

.short-info {
  margin-right: 3%;
}

.poster {
  display: block;
  margin-top: -40%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.button {
  background-color: #ff8f27;
  padding: 10px 41px;
  color: #ffffff;
  font-size: 15px;
  line-height: 16px;
  border: none;
}

.actors-title {
  padding-left: 15px;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}

.actors-list {
  margin: 0;
  list-style: none;
  padding-left: 15px;
  text-decoration: underline;
}

.actors-list-item {
  line-height: 150%;
}

.full-info {
  flex: 0.97;
}

.full-content {
  display: flex;
  justify-content: space-between;
}

.bookmark-added {
  vertical-align: middle;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.tabs-item {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}
/* Задай отступ справа каждому элементу tabs-item, но не тому, который последний */
.tabs-item:not(:last-child) {
  margin-right: 4%;
}

.tabs-item-active {
  color: #ff8f27;
}

.tabs-content {
  display: none;
  margin-right: 70px;
}

.visible {
  display: block;
}

.text {
  margin-top: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 140%;
}

.subscribe-title {
  margin-top: 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 14px;
}

.subscribe-form {
  position: relative;
  margin-bottom: 48px;
}

.subscribe-input {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  /* внутернние отступы */
  padding: 12px 18px 12px 18px;
  /* убираем рамку */
  border: none;
  height: 40px;
  color: #aeaeae;
  font-size: 14px;
  line-height: 16px;
}

.subscribe-button {
  background: #ff8f27;
  border-radius: 0px 5px 5px 0px;
  border: none;
  height: 40px;
  width: 40px;
  padding: 9px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Все что < 1200px */
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .tabs-item {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .tabs {
    flex-wrap: wrap;
  }
  .tabs-item {
    flex-basis: 20%;
    line-height: 150%;
  }
  .full-content {
    flex-wrap: wrap;
  }
  .tabs-content {
    margin-bottom: 4%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .more {
    display: none;
  }
  .tabs-item {
    flex-basis: 35%;
  }
  .tabs-content {
    margin-right: 0;
  }
}

@media (max-width: 558px) {
  .container {
    width: 90%;
  }
  .header {
    flex-wrap: wrap;
  }
  .search {
    flex-basis: 100%;
    order: 3;
    margin-top: 5%;
  }
  .movie-info {
    flex-wrap: wrap;
  }
  .play {
    flex-basis: 100%;
    margin-top: 10%;
  }
  .content {
    flex-wrap: wrap;
  }
  .short-info {
    margin-bottom: 5%;
  }
  .actors-list,
  .actors-title {
    display: none;
  }
  .short-info {
    margin-right: 0;
  }
  .button {
    width: 100%;
  }
  .poster {
    margin-top: -20%;
    display: inline-block;
    width: 100%;
  }
}
